# Copy this file to `.env` and fill in real values (DO NOT commit .env)
# Example environment variables for exam-system

# Database
DB_HOST=211.86.152.132
DB_PORT=13306
DB_NAME=yunfan
DB_USER=yf
DB_PASSWORD=yf20251122

# Other secrets
# SENTRY_DSN=
# OAUTH_CLIENT_SECRET=
#mysql -h {211.86.152.132} P {13306} -u {yf} -p {yunfan}


setx DB_HOST "211.86.152.132"
setx DB_PORT "13306"
setx DB_NAME "yunfan"
setx DB_USER "yf"
setx DB_PASSWORD "yf20251122"

git remote add origin https://github.com/peppery77/exam-system.git
